server/schemas/cf-input-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cf="https://civiform.us/thymeleaf/cf"
           targetNamespace="https://civiform.us/thymeleaf/cf"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      CiviForm Input Element Schema

      Custom Thymeleaf element that renders into an input element with all appropriate HTML
      including labels, validation messages, help text, etc.

      Example usage:
      &lt;cf:input id="firstName" name="firstName" label="First Name" /&gt;

      Renders to:
      &lt;div class="usa-form-group"&gt;
      &lt;label class="usa-label" for="firstName"&gt;First Name&lt;/label&gt;
      &lt;span id="error-message-firstName" class="usa-error-message" role="alert" hidden="hidden"&gt;&lt;/span&gt;
      &lt;input type="text" class="usa-input" id="firstName" name="firstName"/&gt;
      &lt;/div&gt;
    </xs:documentation>
  </xs:annotation>

  <xs:element name="input">
    <xs:annotation>
      <xs:documentation>
        Custom input element that generates a complete form group with label, validation, and help text.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            The id attribute for the input element. Must be a valid HTML id (starts with letter or underscore,
            followed by letters, digits, underscores, or hyphens).
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            The name attribute for the input element. Supports standard names and nested names like "user[profile][email]".
            No spaces allowed. Can contain alphanumeric characters, underscores, hyphens, periods, and brackets.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="label" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            The label text displayed above the input field.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="value" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            The initial value of the input field.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="placeholder" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Placeholder text shown in the input when empty.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="type" use="optional" default="text">
        <xs:annotation>
          <xs:documentation>
            The input type. Defaults to "text".
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="password"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="tel"/>
            <xs:enumeration value="url"/>
            <xs:enumeration value="date"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="size" use="optional">
        <xs:annotation>
          <xs:documentation>
            The size of the input field. Adds corresponding CSS class (e.g., "usa-input--small").
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2xs"/>
            <xs:enumeration value="xs"/>
            <xs:enumeration value="sm"/>
            <xs:enumeration value="small"/>
            <xs:enumeration value="md"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="lg"/>
            <xs:enumeration value="xl"/>
            <xs:enumeration value="2xl"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="help-text" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Optional help text displayed below the label to provide additional context.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="validation-message" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Validation error message to display when the input is invalid (is-valid="false").
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="is-valid" type="xs:string" use="optional" default="true">
        <xs:annotation>
          <xs:documentation>
            Whether the input is valid. Set to "false" to show validation error state.
            Accepts: "true" or "false"
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="required" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Whether the input is required. Set to "true" to add the required attribute.
            Accepts: "true" or "false"
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="validation-class" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Fully qualified class name for client-side validation data binding.
            Must be used together with validation-field.
            Example: "com.example.models.UserProfile"
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="validation-field" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Field name within the validation-class for extracting Play framework validation constraints.
            Must be used together with validation-class.
            Example: "email"
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <!-- Allow any data-* attributes -->
      <xs:anyAttribute namespace="##other" processContents="lax">
        <xs:annotation>
          <xs:documentation>
            Supports custom data-* and aria-* attributes. These will be passed through to the rendered input element.
            Note: aria-describedby and aria-invalid are managed automatically by the component.
          </xs:documentation>
        </xs:annotation>
      </xs:anyAttribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
