server/schemas/cf-input-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cf="https://civiform.us/thymeleaf/cf"
           targetNamespace="https://civiform.us/thymeleaf/cf"
           elementFormDefault="qualified">

  <xs:import namespace="https://civiform.us/thymeleaf/cf" schemaLocation="common-types.xsd"/>

  <xs:annotation>
    <xs:documentation>
      CiviForm Input Element Schema

      Custom Thymeleaf element that renders into an input element with all appropriate HTML
      including labels, validation messages, help text, etc.

      Example usage:
      &lt;cf:input id="firstName" name="firstName" label="First Name" /&gt;

      Renders to:
      &lt;div class="usa-form-group"&gt;
      &lt;label class="usa-label" for="firstName"&gt;First Name&lt;/label&gt;
      &lt;span id="error-message-firstName" class="usa-error-message" role="alert" hidden="hidden"&gt;&lt;/span&gt;
      &lt;input type="text" class="usa-input" id="firstName" name="firstName"/&gt;
      &lt;/div&gt;
    </xs:documentation>
  </xs:annotation>

  <xs:element name="input">
    <xs:annotation>
      <xs:documentation>
        Custom input element that generates a complete form group with label, validation, and help text.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:attributeGroup ref="cf:commonFormAttributes"/>

      <xs:attribute name="type" default="text">
        <xs:annotation>
          <xs:documentation>
            The input type. Defaults to "text".
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="color"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="datetime-local"/>
            <xs:enumeration value="email"/>
            <xs:enumeration value="hidden"/>
            <xs:enumeration value="month"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="password"/>
            <xs:enumeration value="range"/>
            <xs:enumeration value="search"/>
            <xs:enumeration value="tel"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="url"/>
            <xs:enumeration value="week"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="min" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Minimum value
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="max" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Maximum value
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="minLength" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Minimum length (number of characters) of value
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="maxLength" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Maximum length (number of characters) of value
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="pattern" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Pattern the value must match to be valid
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <!-- Allow any data-* attributes -->
      <xs:anyAttribute namespace="##other" processContents="lax">
        <xs:annotation>
          <xs:documentation>
            Supports custom data-* and aria-* attributes. These will be passed through to the rendered input element.
            Note: aria-describedby and aria-invalid are managed automatically by the component.
          </xs:documentation>
        </xs:annotation>
      </xs:anyAttribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
