server/schemas/common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cf="https://civiform.us/thymeleaf/cf"
           targetNamespace="https://civiform.us/thymeleaf/cf"
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      CiviForm Common Types

      Reusable type definitions for CiviForm schemas.
    </xs:documentation>
  </xs:annotation>

  <!-- Define reusable boolean type -->
  <xs:simpleType name="booleanString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Define reusable size type -->
  <xs:simpleType name="sizeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2xs"/>
      <xs:enumeration value="xs"/>
      <xs:enumeration value="sm"/>
      <xs:enumeration value="small"/>
      <xs:enumeration value="md"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="lg"/>
      <xs:enumeration value="xl"/>
      <xs:enumeration value="2xl"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Common attributes shared by form elements -->
  <xs:attributeGroup name="commonFormAttributes">
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The id attribute for the element. Must be a valid HTML id (starts with letter or underscore,
          followed by letters, digits, underscores, or hyphens).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The name attribute for the element. Supports standard names and nested names like "user[profile][email]".
          No spaces allowed. Can contain alphanumeric characters, underscores, hyphens, periods, and brackets.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="label" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The label text displayed above the field.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="value" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The initial value of the field.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="placeholder" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Placeholder text shown in the field when empty.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="size" type="cf:sizeType">
      <xs:annotation>
        <xs:documentation>
          The size of the field. Adds corresponding CSS class.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="help-text" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Optional help text displayed below the label to provide additional context.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="validation-message" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Validation error message to display when the field is invalid (is-valid="false").
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="is-valid" type="cf:booleanString" default="true">
      <xs:annotation>
        <xs:documentation>
          Whether the field is valid. Set to "false" to show validation error state.
          Accepts: "true" or "false"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="required" type="cf:booleanString">
      <xs:annotation>
        <xs:documentation>
          Whether the field is required. Set to "true" to add the required attribute.
          Accepts: "true" or "false"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="readonly" type="cf:booleanString">
      <xs:annotation>
        <xs:documentation>
          Whether the field is editable.
          Accepts: "true" or "false"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="disabled" type="cf:booleanString">
      <xs:annotation>
        <xs:documentation>
          Whether the field is disabled.
          Accepts: "true" or "false"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="validation-class" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Fully qualified class name for client-side validation data binding.
          Must be used together with validation-field.
          Example: "com.example.models.UserProfile"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="validation-field" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Field name within the validation-class for extracting Play framework validation constraints.
          Must be used together with validation-class.
          Example: "email"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
